<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>

<body>
    <%- include("partials/navbar.ejs") %>
    <div class="container m-4">
        <h2>Newsin Indonesia</h2>
        <div class="row">
            <% news.forEach(data => { %>
            <div class="col-4">
                <div class="card" style="min-height: 500px; margin-bottom: 15px;">
                        <img src="<%= data.image.small %> " class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= data.title %>
                        </h5>
                        <p class="card-text">
                            <%= data.contentSnippet %>
                        </p>
                        <a href="<%= data.link %>" class="btn btn-info" target="_blank">read more</a>
                    </div>
                  </div>
            </div>
            <% }) %>
        </div>
    </div>
</body>
</html>